I am only saying this out of the intention to learn and assist in alignment with the vision (and the best way to do this is through focusing on PhD), but sometimes I have reach out on time for anything else and it is not great when it is seen as a lacking in humility (by one supervisor), or when sometimes things are conflated to a large degree without giving me a chance to say anything, in a sarcastic way (by another supervisor). 

Liking things on Instagram is a way to show that I dont have to give up humour or things I like to try manage perceptions as a result of your outlook (which you never both to clarify), and only then that I have confidence that I can do it and then do it.

While I understand the expectations are from me, you all also have a responsibility to not strain the bounds of the relation uneccesarily.

Can you honestly say you are acting like leaders in these aspects?
When have you ever encouraged an open conversation on this? 
Am I only worthy of proper behaviour (not asking for respect) if I deliver something or in Year 3?

Looking back, and you will see only respect from my side, unless it is do with beaurocracy. There are some slips ups at work (which happen to all of us, yet you exagerate mine and I really dont like it when you speak sarcastically).
The conference paper was not just mine, it was your project. If you had encouraged planning at the start, I would have said it doesnt seem
incredibly great in terms of the data we had. Same with VR content, even though that was a strategic decision. 
