I am only saying this out of the intention to learn and assist in alignment with the vision (and the best way to do this is through focusing on PhD), but sometimes I have reach out on time for anything else and it is not great when it is seen as a lacking in humility (by one supervisor), or when sometimes things are conflated to a large degree without giving me a chance to say anything, in a sarcastic way (by another supervisor). 

Liking things on Instagram is a way to show that I dont have to give up humour or things I like to try manage perceptions as a result of your outlook (which you never both to clarify), and only then that I have confidence that I can do it and then do it.

While I understand the expectations are from me, you all also have a responsibility to not strain the bounds of the relation uneccesarily.

Can you honestly say you are acting like leaders in these aspects?
When have you ever encouraged an open conversation on this? 
Am I only worthy of proper behaviour (not asking for respect) if I deliver something or in Year 3?

Looking back, and you will see only respect from my side, unless it is do with beaurocracy. There are some slips ups at work (which happen to all of us, yet you exagerate mine and I really dont like it when you speak sarcastically).
The conference paper was not just mine, it was your project. If you had encouraged planning at the start, I would have said it doesnt seem
incredibly great in terms of the data we had. Same with VR content, even though that was a strategic decision. 

Sometimes I dont feel I am treated right, and it is hard to be humble in such a situation.


I would also like to quickly address something in our communication which I have long held back on, while I understand that I am learning, expected to prove myself, and deliver the vision, there has still been a component of unwarranted assumptions and exaggerations or treatment at times from the supervisory end (I will communicate to Professor Kaja as well) that unnecessarily strain the relation between me and both supervisors. I wouldnt bring this up if it werent true and necessary. It would be great to please consider this.

Want to ensure I have done everything I can from my side for Nature, but still haven't checked every reference to ensure we are are giving maximum relevant insights - maybe I can spend an hour quickly going through later on to do this while Professor Sandeep is collating and writing. 

Otherwise tomorrow, I mostly going to be focusing on DSSN analysis. 


was thinking to perhaps state something along the lines of "In our analysis of both the Australian and Japanese datasets, we elected to base our findings on the available test records. This decision was informed by the differing frequencies and patterns of testing between the datasets. For the Japanese dataset, approximately 2000 out of 9000 records were missing for eGFR, corresponding to instances where tests were not performed at the expected six-month intervals. These omissions were deemed to be Missing Completely at Random (MCAR), with no apparent correlation with other variables or systematic patterns. Consequently, we maintained the integrity of the observed data, accepting that these missing points represent a realistic aspect of clinical practice, where test intervals may vary based on patient-specific circumstances. Our reporting acknowledges this aspect of the data collection process and the potential implications for the analysis outcomes are discussed"

I had excluded initially as these are just tests that are not taken against pre-set times and so they show up as blanks against that particular time mark, the other associated variables are age and gender but they are carried forward automatically. 







I was reviewing the code yesterday, there are some missing records for the Japanese dataset which I had initially excluded from analysis (double checked the AU dataset as well which does not contain any missing records). around 2000/9000 records are 'missing' for eGFR for the JP dataset, by this I mean that some patients just did not have eGFR tests taken at the 6 month mark or 36th month etc. I was wondering if we should impute them instead or it might be ok to have excluded those rows, since they are not technically 'missing'. 


The other reason (and perhaps this is the better question) is that there is variability in the timing of tests for the AU and JP datasets - whereas AU tends be to more frequent and irregular, the JP dataset is taken every 6 months where possible, so perhaps it doesnt make sense to impute the JP one solely on basis of an Excel format as there happens to be variability in any case; in fact may even introduce bias. This variability might also have an impact on transfer learning between two different cohorts which is the real crux, however this is why fine-tuning is helpful, and also that the case study represents a realistic aspect of clinical settings.


These questions have come about as a result of reviewing some papers which have a section on missing variable handling, so I was wondering if we could just mention that we have based our analysis on the available tests for both AU and JP datasets. 


Lastly, I am no expert in statistics, but I tried to find some statistical tests (MCAR, sensitivity testing) that could help to understand the variability and its impacts on the approach taken, however thought to bring this up for review



















# Survey
# Slice 
# Plot individually
# README - sample rate for each modality, normal range, pdf analysis, 

# Pre-processing
# Merging